:root {
	--accent-bg: #eafafa;
	--accent: #008281;
}

h1 > img {
	border-radius: 12px;
	padding: 12px 24px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--accent-bg: #002b2b;
		--accent: #00cfcd;
	}

	h1 > img {
		background-color: #eafafa;
	}
}
